<h1 class="components-tuts-heading">Components tuts...</h1>
<div>input value: {{ value() }}</div>
<div>input width: {{ width() }}</div>
<div>input isAuth: {{ isAuth() }}</div>
<div>input count: {{ count() }}</div>

<button
  class="bg-blue-400 text-black p-4 rounded hover:opacity-90"
  (click)="increment()"
>
  increment
</button>

<app-custom-card>
  <!-- <card-title>Custom Card title</card-title>
  <card-body>Custom Card Component Content...</card-body>
  <card-footer>custom card footer</card-footer> -->
  <h2 ngProjectAs="card-title">Custom Card title</h2>
  <h2 ngProjectAs="card-body">Custom Card Component Content...</h2>
  <h3 ngProjectAs="card-footer">custom card footer</h3>
</app-custom-card>

<app-host-element></app-host-element>
<app-life-cycle></app-life-cycle>

<style>
  .components-tuts-heading {
    @apply text-4xl bg-yellow-200 text-center text-pink-500;
  }
</style>
